<div id="header">
  <div id="left">
    <h1 id="prod-desc">Products</h1>
  </div>

  <div id="right">
    <button type="button" [routerLink]="['/cart']" *ngIf="isCustomer$ | async">
      <fa-icon [icon]="faShoppingCart"></fa-icon>
    </button>

    <button type="button" [routerLink]="['/products/editor/']" *ngIf="isAdmin$ | async">ADD</button>
  </div>

</div>

<table aria-describedby="prod-desc">
  <tr>
    <th id="category">Category</th>
    <th id="name">Product Name</th>
    <th id="price">Price</th>
    <th id="link"></th>
  </tr>
  <ng-container *ngIf="products$ | async as products">
    <tr *ngFor="let product of products">
      <td>{{product.category}}</td>
      <td>{{product.name}}</td>
      <td>{{product.price}}</td>
      <td><a [title]="product.name + ' details'" [routerLink]="['/products', product.id]">
        <fa-icon [icon]="faChevronRight"></fa-icon>
      </a></td>
    </tr>
  </ng-container>
</table>
