<div id="header">
  <div id="left">
    <h1 id="prod-desc">Shopping Cart</h1>
  </div>

  <div id="right" *ngIf="cartItems$ | async as cartItems">
    <button type="button" [routerLink]="['/']">
      <fa-icon [icon]="faHome"></fa-icon>
    </button>
    <button type="button" (click)="checkout(cartItems)" [routerLink]="['/products']">CHECKOUT</button>
  </div>

</div>

<table aria-describedby="prod-desc">
  <tr>
    <th id="category">Category</th>
    <th id="name">Product Name</th>
    <th id="price">Price (per unit)</th>
    <th id="quantity">Quantity</th>
    <th id="cancel"></th>
  </tr>

  <ng-container *ngIf="cartItems$ | async as cartItems">
    <tr *ngFor="let item of cartItems">
      <td>{{item.category}}</td>
      <td>{{item.name}}</td>
      <td>{{item.price}}</td>
      <td>{{item.quantity}}</td>
      <td><a [title]="'Remove ' + item.name + ' from cart'" (click)="removeFromCart(item)">
        <fa-icon [icon]="faTrashAlt"></fa-icon>
      </a></td>
    </tr>
  </ng-container>
</table>
