<div id="header">
  <div id="left">
    <h1 id="prod-desc">Product: {{productId}}</h1>
  </div>

  <div id="right" *ngIf="product$ | async as product">
    <button id="add" type="button" (click)="addToCart(product)" *ngIf="isCustomer$ | async">
      <fa-icon [icon]="faCartPlus"></fa-icon>
    </button>
    <ng-container *ngIf="isAdmin$ | async">
      <button id="edit" type="button" [routerLink]="['/products/editor', productId]">EDIT</button>
      <button class="red-button" type="button" (click)="delete()" [routerLink]="['/products']">DELETE</button>
    </ng-container>
  </div>
</div>

<div id="details" *ngIf="product$ | async as product">
  <table aria-describedby="prod-desc">
    <tr>
      <th id="name">Name</th>
      <td>{{product.name}}</td>
    </tr>
    <tr>
      <th id="category">Category</th>
      <td>{{product.category}}</td>
    </tr>
    <tr>
      <th id="price">Price</th>
      <td>{{product.price | currency: 'RON '}}</td>
    </tr>
    <tr>
      <th id="description">Description</th>
      <td>{{product.description}}</td>
    </tr>
  </table>

  <img src="{{product.imageUrl}}" [alt]="product.name + ' image'" width="200px" height="266px">
</div>

