@import "../../styles/_base";
@import '../../styles/_buttons';

button {
  @include colored-button;

  width: 25%;
  margin-inline: 3%;
}

#header {
  display: flex;

  #left {
    padding-left: 5%;
    width: 60%;
  }

  #right {
    display: flex;

    width: 25%;
    padding-block: 1.5%;
    padding-inline: 3%;
  }
}

#details {
  display: flex;

  table {
    width: 70%;
    margin-left: 5%;

    th {
      text-align: right;
    }

    td {
      padding-inline: 3%;
    }

  }

}

