<div *ngIf="product$ | async else elseBlock">
  <h1 class="prod-title" >Edit product: {{productId}}</h1>
</div>
<ng-template #elseBlock>
  <h1 class="prod-title">Create product</h1>
</ng-template>

<form [formGroup]="productForm">

  <table aria-describedby="prod-title">
    <tr>
      <th id="name-label"><label for="name">Name: </label></th>
      <td><input id="name" type="text" formControlName="name"></td>
    </tr>

    <tr>
      <th id="category-label"><label for="category">Category: </label></th>
      <td><input id="category" type="text" formControlName="category"></td>
    </tr>

    <tr>
      <th id="imageUrl-label"><label for="imageUrl">Image: </label></th>
      <td><input id="imageUrl" type="text" formControlName="imageUrl"></td>
    </tr>

    <tr>
      <th id="price-label"><label for="price">Price: </label></th>
      <td><input id="price" type="text" formControlName="price"></td>
    </tr>
  </table>

  <textarea id="description" type="text" formControlName="description" rows="3"></textarea>

  <div id="button-container">
    <div *ngIf="productId else elseBlock2">
      <button mat-flat-button color="primary" class="gray-button" type="button" [routerLink]="['/products', productId]">CANCEL</button>
    </div>
    <ng-template #elseBlock2>
      <button mat-flat-button color="primary" class="gray-button" type="button" [routerLink]="['/products']">CANCEL</button>
    </ng-template>

    <button mat-flat-button color="primary" id="save" type="button" [disabled]="!productForm.valid" (click)="submitForm()">SAVE</button>
  </div>
</form>
