@import "../../../styles/_base";
@import '../../../styles/_buttons';

#default-button {
  @include colored-button;
}

form {
  border: solid 2px $my-primary-color-dark;
  width: 25%;
  margin: auto;

  h1 {
    color: $my-primary-color-dark;
    padding-left: 5%;
  }

  hr {
    width: 90%;
  }

  ul {
    list-style-type: none;

    li {
      color: $my-primary-color-dark;
      margin: 5px 0;
    }
  }

  p {
    padding-left: 5%;
  }

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 3%;
  }
}


